.app-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;

  padding: 24px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  font-family: Inter, sans-serif;
}

.app-shell {
  width: 97%;

  min-height: calc(100vh - 20px);
  max-height: 90vmin;

  border-radius: 32px;

  overflow: visible;
}

.app-shell > * {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1200px)
{
  .app-shell
  {
    max-height: unset;
  }
}