.glass-panel-light 
{
  background: rgba(255, 255, 255, 0.12);
}

.glass-panel-dark 
{
  background: rgba(20,20,20, 0.12);
}

.glass-panel-light, .glass-panel-dark {
  position: relative;
  
  border-right: 2px solid rgba(255, 255, 255, 0.22);
  border-bottom: 2px solid rgba(255, 255, 255, 0.22);
  border-left: 2px solid rgba(255, 255, 255, 0.22);
  box-shadow:
    0 8px 32px rgba(31, 38, 135, 0.18),
    inset 0 1px 0 rgba(255, 255, 255, 0.18);
  border-radius: 32px;
  z-index: 1; /* sits above the fixed blur */
}

.glass-panel-light::before, .glass-panel-dark::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 32px;
  z-index: -1;
  pointer-events: none;
}

.fixed-blur-overlay {
  position: fixed;
  inset: 0;
  /* backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px); */
  z-index: 0;
  pointer-events: none;
}

.app-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;

  padding: 24px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  font-family: Inter, sans-serif;
}

.app-shell {
  width: 99%;

  min-height: calc(100vh - 20px);
  max-height: 90vmin;

  border-radius: 32px;

  overflow: auto;
}

.app-shell > * {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1200px)
{
  .app-shell
  {
    max-height: unset;
  }
}