.squareContainer
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /*border: 1px solid black*/;
    box-sizing: border-box;
    position: relative;
}

.squareFlipped
{
    transform: rotate(180deg);
}

.rankLabel
{
    position: absolute;
    margin: 0;
    top: 2px;
    left: 2px;
}

.fileLabel
{
    position: absolute;
    bottom: 2px;
    right: 5px;
    margin: 0;
}

.legalMoveCircle {
    position: absolute;     /* position inside square */
    width: 4vh;            /* size of the circle */
    height: 4vh;
    border-radius: 50%;     /* makes it circular */
    background-color: rgba(0, 0, 0, 0.25); /* semi-transparent dark circle */
    top: 50%;               /* center vertically */
    left: 50%;              /* center horizontally */
    transform: translate(-50%, -50%); /* truly center it */
    pointer-events: none;   /* so it doesn't block clicks */
}

.legalMoveCaptureCircle
{
    position: absolute;     /* position inside square */
    width: 10vh;            /* size of the circle */
    height: 10vh;
    border-radius: 50%;     /* makes it circular */
    border: 8px solid rgba(0, 0, 0, 0.25);
    background-color: transparent;
    top: 50%;               /* center vertically */
    left: 50%;              /* center horizontally */
    transform: translate(-50%, -50%); /* truly center it */
    pointer-events: none;   /* so it doesn't block clicks */
}

@media screen and (max-width: 800px) 
{
    .legalMoveCircle 
    {
        width: 1vh;            /* size of the circle */
        height: 1vh;
    }

    .legalMoveCaptureCircle 
    {
        width: 4vh;            /* size of the circle */
        height: 4vh;
    }
}