
<div class="squareContainer" 
    [style]="{'background-color': getColor()}" 
    (mousedown)="handleMouseDown()"
    (mouseup)="handleMouseUp()">

    @if(showFile && coordinate != "")
    {
        <p class="fileLabel" [style]="{ 'color': getReverseColor()}">{{coordinate[0]}}</p>
    }

    @if (showRank && coordinate != "")
    {
        <p class="rankLabel" [style]="{ 'color': getReverseColor()}">{{coordinate[1]}}</p>
    }

    
    @if (piece != "")
    {
        <img [src]="`piece/merida/${piece}.svg`" class="w-100" draggable="false">
    }
</div>
