.squareContainer
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /*border: 1px solid black*/;
    box-sizing: border-box;
    position: relative;
}

.rankLabel
{
    position: absolute;
    margin: 0;
    top: 2px;
    left: 2px;
}

.fileLabel
{
    position: absolute;
    bottom: 2px;
    right: 5px;
    margin: 0;
}