
<div class="squareContainer" 
    [style]="{'background-color': getColor(), 'box-shadow': isInCheck ? '0 4px 0 0 red inset' : ''}"
    [class]="isFlipped ? 'squareFlipped' : ''" 
    (mousedown)="handleMouseDown($event)"
    (mouseup)="handleMouseUp()">

    @if(showFile && coordinate != "")
    {
        <p class="fileLabel" [style]="{ 'color': getReverseColor()}">{{coordinate[0]}}</p>
    }

    @if (showRank && coordinate != "")
    {
        <p class="rankLabel" [style]="{ 'color': getReverseColor()}">{{coordinate[1]}}</p>
    }

    @if (piece != "" && showPiece)
    {
        <img class="pieceImage" [src]="`piece/merida/${piece}.svg`" class="w-100" draggable="false">
    }

    @if (isLegalMove && piece == "")
    {
        <div class="legalMoveCircle"></div>
    }

    @if (isLegalMove && piece != "")
    {
        <div class="legalMoveCaptureCircle"></div>
    }

    @if(isCheckmate || isDraw || isWinner)
    {
        <div class="fade-out-bg"
            style="position: absolute; inset: 0; z-index: 2;"
            [style]="{'background-color' : _getBackgroundColor()}">
        </div>

        <img class="move-up-right-shrink"
            alt="end icon"
            [src]="_getImgSrc()"
            style="position: absolute; z-index: 2; inset: 0; width: 10vmin;"
         />

        <div class="corner-text fade-out-bg"
            [style]="{'background-color' : _getBackgroundColor()}">
            {{ isCheckmate ? 'Checkmate' : isDraw ? 'Draw' : 'Winner' }}
        </div>
    }
</div>
