
<div class="squareContainer" 
    [style]="{'background-color': getColor(), 'box-shadow': isInCheck ? '0 4px 0 0 red inset' : ''}"
    [class]="isFlipped ? 'squareFlipped' : ''" 
    (mousedown)="handleMouseDown($event)"
    (mouseup)="handleMouseUp()">

    @if(showFile && coordinate != "")
    {
        <p class="fileLabel" [style]="{ 'color': getReverseColor()}">{{coordinate[0]}}</p>
    }

    @if (showRank && coordinate != "")
    {
        <p class="rankLabel" [style]="{ 'color': getReverseColor()}">{{coordinate[1]}}</p>
    }

    @if (piece != "" && showPiece)
    {
        <img class="pieceImage" [src]="`piece/merida/${piece}.svg`" class="w-100" draggable="false">
    }

    @if (isLegalMove && piece == "")
    {
        <div class="legalMoveCircle"></div>
    }

    @if (isLegalMove && piece != "")
    {
        <div class="legalMoveCaptureCircle"></div>
    }
</div>
