.squareContainer
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /*border: 1px solid black*/;
    box-sizing: border-box;
    position: relative;
}

.rankLabel
{
    position: absolute;
    margin: 0;
    top: 2px;
    left: 2px;
}

.fileLabel
{
    position: absolute;
    bottom: 2px;
    right: 5px;
    margin: 0;
}

.legalMoveCircle {
    position: absolute;     /* position inside square */
    width: 30px;            /* size of the circle */
    height: 30px;
    border-radius: 50%;     /* makes it circular */
    background-color: rgba(0, 0, 0, 0.4); /* semi-transparent dark circle */
    top: 50%;               /* center vertically */
    left: 50%;              /* center horizontally */
    transform: translate(-50%, -50%); /* truly center it */
    pointer-events: none;   /* so it doesn't block clicks */
}