.coachDisplay
{
  height: 20vmin;
}

.coachClassificationIcon
{
  height: 2vmin;
}

.desktopEngineData
{
  display: block;
}

.mobileEngineData 
{
  display: none;
}

@media screen and (max-width: 1200px)
{
  .coachDisplay
  {
    height: 200px;
  }

  .desktopEngineData 
  {
    display: none;
  }

  .mobileEngineData
  {
    display: block;
  }
}