@if(boardState().doEvaluateGame())
{
  <div class="d-flex flex-column justify-content-between overflow-x-auto coachDisplay p-4"
  [ngClass]="themeService.getThemeInstance().getGlassPanelTheme()"
  [style.color]="themeService.getThemeInstance().getTextColor()">
    @if (shouldShowEngineInfo()) {
      @if (engine(); as engineData) {
        <!-- Engine Info -->
        <div class="small d-flex justify-content-between">
          <div>
            <span><i class="bi bi-info-circle me-2"></i>{{ 'chessboard.coachDisplay.luminousInsights' | translate }}</span>
          </div>

          <div class="desktopEngineData">
          {{ engineMetadata()?.displayName }}
          <span class="badge" 
                [ngClass]="{ 
                  'bg-success': engineMetadata()?.type === EngineType.NNUE, 
                  'bg-danger': engineMetadata()?.type === EngineType.HCE 
                }">
            {{ engineMetadata()?.type }}
          </span>

          @if (engineData.isCloudHybridMode) {
            <span class="badge bg-info ms-1 text-secondary">{{ 'chessboard.coachDisplay.cloudHybrid' | translate }}</span>
          }

          -

          @if (mostRecentEval(); as evalData) {
            @if (evalData.lines[0]) {
              <span>
                {{ 'chessboard.coachDisplay.depth' | translate }} {{ evalData.lines[0].depth }}

                @if (evalData.source === EvalSource.Cloud) {
                  <span class="badge bg-info ms-1 text-secondary">{{ 'chessboard.coachDisplay.cloud' | translate }}</span>
                }
              </span>
            }
          }
          </div>

          <div class="mobileEngineData small">
            {{engineMetadata()?.displayNameSmall}} -
            @if (mostRecentEval(); as evalData)
            {
              @if(evalData.lines[0]; as line)
              {
              {{ 'chessboard.coachDisplay.depth' | translate }} {{ line.depth }}
              }  
            }
          </div>
        </div>
      }
    }

    <!-- Loading Quotes -->
    @if (isShowingQuote()) {
      @if (quote(); as q) {
        <div>"{{ q.text }}"</div>
        <div class="fw-bold">-{{ q.author }}</div>
      }
    }

    <!-- Analysis Content -->
    @if (root(); as rootData) {
      @if (rootData.move && rootData.eval) {
          @let classification = rootData.eval.moveClassification ?? MoveClassification.None;
          @let iconSource = ChessboardHelper.getIconSourceForMoveClassification(classification);

          @if (iconSource() !== "") {
            <div>
              <div class="fw-bold">
                <img [src]="iconSource()" class="coachClassificationIcon" alt="move classification"/>
                {{ ChessboardHelper.getNotation(rootData.move) }} {{ 'chessboard.coachDisplay.is' | translate }} {{ moveClassificationLabels[classification] | translate }}
              </div>

              <div class="small">
                {{ rootData.move.coachComment }}
              </div>
            </div>

            <!-- Action Buttons -->
            <div class="d-flex coachButtons">
              @if (rootData.eval.lines[0]) {
                
                @if (!boardState().isCoachMoveShowing() && !boardState().isCoachIdeaShowing()) {
                  
                  @for (key of rootData.move.coachIdeas.keys(); track $index) {
                    <app-icon-button 
                      extraClasses="m-1 small" 
                      (buttonClick)="showIdeaButtonClicked(rootData.move.coachIdeas.get(key))" 
                      [label]="getIdeaButtonText(key)" 
                      overridePrimaryBackgroundColor="rgb(52, 175, 0)" 
                      overrideSecondaryBackgroundColor="green" 
                      iconClass="bi-lightbulb">
                    </app-icon-button>
                  }

                  @for (key of rootData.move.coachResources.keys(); track $index) {
                    <app-icon-button 
                      extraClasses="m-1 small" 
                      (buttonClick)="handleResourceButtonClicked(rootData.move.coachResources.get(key))" 
                      [label]="getResourceButtonText(key)" 
                      overridePrimaryBackgroundColor="rgb(0, 160, 160)" 
                      overrideSecondaryBackgroundColor="rgb(0, 151, 151)" 
                      iconClass="bi-link-45deg">
                    </app-icon-button>
                  }

                  @if (!boardState().getCurrentState().gameState.isGameOver) {
                    <app-icon-button 
                      (buttonClick)="showFollowUpClicked()" 
                      [disabled]="boardState().coachButtonsDisabled()" 
                      extraClasses="m-1 small" 
                      [label]="getFollowUpButtonText(rootData.move, rootData.eval)" 
                      iconClass="bi-arrow-right">
                    </app-icon-button>
                  }
                
                  @if (classification === MoveClassification.Inaccuracy || 
                      classification === MoveClassification.Mistake || 
                      classification === MoveClassification.Blunder ||
                      classification === MoveClassification.Miss
                      ) {
                    <app-icon-button 
                      (buttonClick)="showMissedOpportunityClicked()" 
                      [disabled]="boardState().coachButtonsDisabled()" 
                      extraClasses="m-1 small" 
                      [label]="getMissButtonText(rootData.move)" 
                      iconClass="bi-arrow-90deg-left">
                    </app-icon-button>
                  }
                }

                @if (boardState().isCoachMoveShowing()) {
                  <app-icon-button 
                    (buttonClick)="hideSequence()" 
                    [disabled]="boardState().coachButtonsDisabled()" 
                    extraClasses="m-1 small" 
                    [label]="'chessboard.coachDisplay.hideSequence' | translate" 
                    iconClass="bi-backspace">
                  </app-icon-button>
                }

                @if (boardState().isCoachMoveShowing() && boardState().isCoachMoveFinished()) {
                  <app-icon-button 
                    (buttonClick)="continueButtonClicked()" 
                    [disabled]="boardState().coachButtonsDisabled()" 
                    extraClasses="m-1 small" 
                    [label]="'chessboard.coachDisplay.continue' | translate" 
                    iconClass="bi-forward">
                  </app-icon-button>
                }

                @if (boardState().isCoachIdeaShowing()) {
                  <app-icon-button 
                    (buttonClick)="hideIdeaButtonClicked()" 
                    extraClasses="m-1 small" 
                    [label]="'chessboard.coachDisplay.hideIdea' | translate" 
                    iconClass="bi-lightbulb-off"  
                    overridePrimaryBackgroundColor="rgb(52, 175, 0)" 
                    overrideSecondaryBackgroundColor="green">
                  </app-icon-button>
                }
              }
            </div>
          }
      }
    }
  </div>
}