.coachDisplay
{
  height: 20vmin;
}

.coachClassificationIcon
{
  height: 4vmin;
}

.desktopEngineData
{
  display: block;
}

.mobileEngineData 
{
  display: none;
}

.volumeIcon
{
  font-size: 22px;
}

.engineData
{
  margin-top: -10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px)
{
  .coachClassificationIcon
  {
    height: 7vmin;
  }


  .coachDisplay
  {
    height: 200px;
  }

  .desktopEngineData 
  {
    display: none;
  }

  .mobileEngineData
  {
    display: block;
  }
}