.boardPlayerInfoContainer
{
    height: 20vmin;
    width: 30vmin;
    flex-direction: column;
    justify-content: space-between;
}

.capturedPieceImg
{
    width: 4vmin;
}

.pieceGroupContainer
{
    display: flex;
}
