.boardPlayerInfoContainer
{
    height: 7vmin;
}

.piece-group
{
    margin-right: 3vmin;
}

.capturedPieceImg
{
    width: 5vmin;
    margin-right: -3vmin;
}

.pieceGroupContainer
{
    display: flex;
}

@media screen and (max-width: 800px) 
{
    .boardPlayerInfoContainer
    {
        height: 30vmin;
        flex-direction: column;
    }

    .piece-group
    {
        margin-right: 3vmin;
    }

    .capturedPieceImg
    {
        width: 5vmin;
        margin-right: -3vmin;
    }
}