.componentContainer
{
    display: flex;
}

.boardOuterContainer
{
    display: flex;
    flex-direction: column;
}

.boardOuterContainerFlipped
{
    flex-direction: column-reverse;
}

.boardContainerInner
{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    width: 80vmin; /* scale board to viewport, always square */
    height: 80vmin;
    gap: 0;
    border: 1px solid;
    user-select: none;
}

.boardContainerInnerFlipped
{
    transform: rotate(180deg);
}

.currentlyHeldPiece
{
    width: 10vmin;
    height: 10vmin;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) 
{
    .componentContainer
    {
        flex-direction: column;
    }    
}