.componentContainer
{
    display: flex;
}

.boardOuterContainer
{
    display: flex;
    flex-direction: column;
}

.boardOuterContainerFlipped
{
    flex-direction: column-reverse;
}

.boardContainerInner
{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    width: 82vmin; /* scale board to viewport, always square */
    height: 82vmin;
    gap: 0;
    border: 1px solid;
    user-select: none;
    touch-action: none;
}

.boardContainerInnerFlipped 
{
    transform: rotate(180deg);
}

.currentlyHeldPiece
{
    width: 10vmin;
    height: 10vmin;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.endgameSquareOverlay
{
    position: absolute; 
    inset: 0; 
    pointer-events: none; 
    z-index: 2;
}

.endgameSquareBackground
{
    position: absolute;
    inset: 0; 
    z-index: 2;
}

.endgameSquareImage
{
    position: absolute;
    z-index: 3;
}

.endgameSquareOverlayFlipped
{
    transform: rotate(180deg);
}

@keyframes fadeOut {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}

.fade-out-bg {
  animation: fadeOut 0.6s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes iconMove {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(50%, -50%) scale(0.65); /* moves up-right and shrinks */
  }
}

.move-up-right-shrink
{
    animation: iconMove 0.6s ease-in-out forwards;
    animation-delay: 0.5s;
}

.corner-text
{
    position: absolute;
    width: 14vmin;
    font-size: 2vmin;
    transform: translate(50%, -50%);
    padding: 10px;
    z-index: 2;
    text-align: center;
    color: white;
    border-radius: 10px;
}

@media screen and (max-width: 800px) 
{
    .componentContainer
    {
        flex-direction: column;
    }    
}