.componentContainer
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.boardPlayerInfo 
{
  display: flex;
  flex-direction: column;
  height: 85vmin;
  justify-content: space-between;
}

.compactBoardPlayerInfo
{
  display: none;
}

.boardEvalBarAndArrows
{
  height: 85vmin;
  justify-content: space-between;
  padding-left: 3vmin;
  padding-right: 3vmin;
}

.boardOuterContainer
{
    display: flex;
    flex-direction: column;
      box-shadow:
    0 8px 32px rgba(31, 38, 135, 0.18),
    inset 0 1px 0 rgba(255, 255, 255, 0.18);
}

.boardOuterContainerFlipped
{
    flex-direction: column-reverse;
}

.boardContainerInner
{
  position: relative;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  width: 77vmin; /* scale board to viewport, always square */
  height: 77vmin;
  gap: 0;
  user-select: none;
  touch-action: none;
}

.boardContainerInnerFlipped 
{
    transform: rotate(180deg);
}

.currentlyHeldPiece
{
    width: 9.2vmin;
    height: 9.2vmin;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.squareOverlay
{
    position: absolute; 
    inset: 0; 
    pointer-events: none; 
    z-index: 2;
}

.squareBackground
{
    position: absolute;
    inset: 0; 
    z-index: 2;
}

.squareImage
{
    position: absolute;
    z-index: 3;
}

.squareOverlayFlipped
{
    transform: rotate(180deg);
}

@keyframes fadeOut {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}

.fade-out-bg {
  animation: fadeOut 0.6s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes iconMove {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(50%, -50%) scale(0.65); /* moves up-right and shrinks */
  }
}

@keyframes iconMoveSm {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(50%, -50%) scale(0.6); /* moves up-right and shrinks */
  }
}

.move-up-right-shrink
{
  animation: iconMove 0.6s ease-in-out forwards;
  animation-delay: 0.5s;
}

.move-up-right-shrink-sm
{
  animation: iconMoveSm 0.3s ease-in-out forwards;
  animation-delay: 0.5s;
}

.corner-text
{
  position: absolute;
  width: 16vmin;
  font-size: 2.1vmin;
  transform: translate(50%, -50%);
  padding: 10px;
  z-index: 2;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.arrowOverlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.boardRight
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vmin;
  width: 78vmin;
  touch-action: manipulation;
}

.boardControlButtons
{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.controlButton
{
  touch-action: manipulation;
}

.animatedPiece {
    position: absolute;
    width: 9.2vmin;
    height: 9.2vmin;
    pointer-events: none;
    z-index: 100;
}

.moveClassificationIcon
{
  position: absolute;
  top: 0;
  right: 0;
  width: 5vmin;
  z-index: 10;
  pointer-events: none;
  transform: translate(35%, -35%);
}

.moveClassificationIconOverlayFlipped 
{
  transform: rotate(180deg);
}

.moveClassificationIconOverlay
{
  position: absolute; 
  inset: 0; 
  pointer-events: none; 
  z-index: 2;
}

.squareImage
{
  width: 9.6vmin;
}

@media screen and (min-width: 1900px) and (min-height: 1050px)
{
  .boardRight
  {
    width: 30vw;
  }
}

@media screen and (max-width: 1200px) 
{
  .componentContainer
  {
    flex-direction: column;
  }    

  .compactBoardPlayerInfo
  {
    display: block;
  }

  .boardPlayerInfo
  {
    display: none;
  }

  .boardContainerInner
  {
    width: 88vmin;
    height: 88vmin;
  }

  .boardArrowButtons
  {
    touch-action: manipulation;
  }

  .boardEvalBarAndArrows
  {
    margin-bottom: 100px;
  }

  .coachButtons
  {
    flex-direction: column;
  }

  .boardRight
  {
    height: unset;
  }

  /*Board Right (underneath on mobile) components*/
  .coachDisplay, .boardArrowButtons ,.engineLineDisplay, .movesTable, .movesOverview, .evalChart
  {
    margin-bottom: 20px;
  }
  
  .movesAndOverview
  {
    flex-direction: column;
  }

  .movesTable, .movesOverview
  {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .moveClassificationIcon
  {
    width: 6.5vmin;
  }

  .squareImage
  {
    width: 11vmin;
  }
}