.componentContainer
{
    height: 7vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

@media screen and (max-width: 1200px)
{
  .componentContainer
  {
    height: 40vmin;
  }
}