<div class="homepageContainer">
    <div class="topHeader" [style.color]="themeService.getThemeInstance().getPrimaryColor()" ngbTooltip="Cloud Hybrid Open-source Neural network Stockfish Environment">CHONSE2</div>
    <h1 [style.color]="themeService.getThemeInstance().getPrimaryColor()">{{ 'home.heading' | translate }}</h1>
    <h4 [style.color]="themeService.getThemeInstance().getTextColor()">{{ 'home.subtitle' | translate }}</h4>

    <div class="m-5"></div>

    <div class="middleContainer d-flex justify-content-between align-items-center">
        <div class="stackedButtons d-flex flex-column">
            
            @let btnStyle = { 'width': '300px', 'height': '60px', 'font-size' : '25px'};

            @let leftBtns = 
            [
                {'label': ('home.leftBtns.editor' | translate), 'iconClass': 'bi-border-all', 'click': boardEditorButtonClicked},
                {'label': ('home.leftBtns.vsAi' | translate), 'iconClass': 'bi-code-slash', 'click': vsStockfishButtonClicked},
                {'label': ('home.leftBtns.pgnLink' | translate), 'iconClass': 'bi-link-45deg', 'click': pgnLinkButtonClicked},
            ];

            <app-icon-button (buttonClick)="analysisButtonClicked()" [extraStyle]="btnStyle" extraClasses="" [label]="'home.leftBtns.analysis' | translate" iconClass="bi-cpu" overridePrimaryBackgroundColor="rgb(52, 175, 0)" overrideSecondaryBackgroundColor="green"></app-icon-button>
            
            <div class="m-2"></div>
            
            @for(btn of leftBtns; track $index)
            {
                <app-icon-button (buttonClick)="btn.click.call(this)" [extraStyle]="btnStyle" extraClasses="" [label]="btn.label" [iconClass]="btn.iconClass"></app-icon-button>
            
                <div class="m-2"></div>
            }
            
        </div>

        @if (lastPgnBoardState != null)
        {
            @if (lastPgnBoardState.mainStateStack().at(-1); as mostRecentState)
            {
                <div class="d-flex flex-column mostRecentBoard">
                    <app-static-chessboard [size]="'var(--board-width)'" [state]="mostRecentState"></app-static-chessboard>
                    <app-icon-button (buttonClick)="mostRecentBtnClicked()" [label]="('home.middleBtns.reviewGame' | translate) + ': ' + lastPgnBoardState.pgnHeaders().white + ' vs ' + lastPgnBoardState.pgnHeaders().black" [extraStyle]="{'width': 'var(--board-width)', 'height': 'var(--btn-height)'}" iconClass="bi-arrow-up-right"></app-icon-button>
                </div>
            }
        }

        <div class="d-flex flex-column analysisDemoBoard">
            <app-static-chessboard [size]="'var(--board-width)'" [state]="DEMO_STATE" ></app-static-chessboard>
            <app-icon-button [label]="'home.middleBtns.analysisDemo' | translate" extraClasses="text-sm" [extraStyle]="{'width': 'var(--board-width)', 'height': 'var(--btn-height)', 'font-size' : '25px'}" iconClass="bi-arrow-up-right" (buttonClick)="demoButtonClicked()"></app-icon-button>
        </div>

        <div class="stackedButtons">
            @let rightBtns = 
            [
                {'label': ("home.rightBtns.settings" | translate), 'iconClass': 'bi-gear', 'click': settingsBtnClicked},
                {'label': ("home.rightBtns.database" | translate), 'iconClass': 'bi-database', 'click': databaseBtnClicked},
                {'label': ('home.rightBtns.sourceCode' | translate), 'iconClass': 'bi-github', 'click': sourceCodeBtnClicked},
                {'label': ('home.rightBtns.developerSite' | translate), 'iconClass': 'bi-code-slash', 'click': developerSiteBtnClicked},
            ];

            @for(btn of rightBtns; track $index)
            {
                <app-icon-button (buttonClick)="btn.click.call(this)" extraClasses="" [label]="btn.label" [iconClass]="btn.iconClass"></app-icon-button>
            
                <div class="m-3"></div>
            }
        </div>
    </div>
</div>