.homepageContainer 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.topHeader
{
    font-size: 10vmin;
}

.middleContainer 
{
    width: 70%;
}

:host {
    --board-width: 30vmin;
    --btn-height: 8vmin;
}


@media screen and (max-width: 1200px)
{
    .middleContainer
    {
        width: unset;
        flex-direction: column;
    }

    .mostRecentBoard 
    {
        margin-bottom: 20px;
    }

    .analysisDemoBoard
    {
        margin-bottom: 20px;
    }

    :host {
        --board-width: 80vmin;
        --btn-height: 15vmin;
    }
}