.componentContainer
{
    padding: 5vmin;
}

.manualPgnField
{
    height: 20vmin;
}

.importOptions
{
    display: flex;
}
.gameSourceDropdown
{
    width: 20vmin;
}

.usernameInput 
{
    width: 30vmin;
}

.savedUsernames 
{
    z-index: 10;
}

@media screen and (max-width: 800px) 
{
    .componentContainer
    {
        max-height: 100vmin;    
        overflow: scroll;
    }
    
    .importOptions
    {
        flex-direction: column;
    }

    .gameSourceDropdown
    {
        width: unset;
    }
    
    .usernameInput
    {
        width: unset;
    }

    .siteResultInner
    {
        display: flex;
        flex-direction: column;
    }
}