.custom-switch:checked {
  background-color: var(--switch-color) !important;
  border-color: var(--switch-color) !important;
}

.custom-range {
  --bs-form-range-thumb-bg: var(--slider-color);
}

.custom-range::-webkit-slider-thumb {
  background-color: var(--slider-color);
}

.custom-range::-moz-range-thumb {
  background-color: var(--slider-color);
}

.languageSection, .themeSection
{
  width: 50%;
}

@media screen and (max-width: 1200px)
{
  .boardSection, .appearanceSection, .insightsSection
  {
    flex-direction: column;
  }

  .languageSection, .themeSection
  {
    width: 100%;
  }


}