.compactBoardPlayerInfoContainer
{
    display: none;
}

@media screen and (max-width: 1200px)
{
    .compactBoardPlayerInfoContainer
    {
        display: block;
        width: 88vmin;
    }

    .cbpiInner
    {
        display: flex;
        justify-content: space-between;
    }
}