.componentContainer
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 20vmin;
  padding-right: 20vmin;
}

.boardContainerInner
{
  position: relative;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  width: 75vmin; /* scale board to viewport, always square */
  height: 75vmin;
  gap: 0;
  user-select: none;
  touch-action: none;
}

.boardContainerInnerFlipped 
{
  transform: rotate(180deg);
}

.currentlyHeldPiece
{
  width: 9vmin;
  height: 9vmin;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.endgameSquareOverlayFlipped
{
    transform: rotate(180deg);
}

@keyframes fadeOut {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}

.fade-out-bg {
  animation: fadeOut 0.6s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes iconMove {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(50%, -50%) scale(0.65); /* moves up-right and shrinks */
  }
}

.move-up-right-shrink
{
    animation: iconMove 0.6s ease-in-out forwards;
    animation-delay: 0.5s;
}

.arrowOverlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.boardControls 
{
  height: 75vmin;
  padding: 2vmin;
  width: 60vmin;
}

.custom-switch:checked {
  background-color: var(--switch-color) !important;
  border-color: var(--switch-color) !important;
}

@media screen and (max-width: 1200px) 
{
  .componentContainer
  {
    flex-direction: column;
    width: 100%;
  }    

  .pieceSelectors 
  {
    flex-direction: column;
  }

  .boardContainerInner 
  {
    width: 80vmin;
    height: 80vmin;
  }

  .boardControls 
  {
    height: unset;
    width: 80vmin;
    word-wrap: break-word;
  }
}