<div class="componentContainer">

    <div class="d-flex pieceSelectors">
        <app-piece-selector [for]="PieceColor.BLACK" [isKingActive]="model().game().getKingCoordinate(PieceColor.BLACK) == ''" (pieceSquareMouseDownEvent)="onPieceSelectorMouseDown($event)" (deleteSquareMouseUpEvent)="onPieceSelectorDeleteMouseUp()"></app-piece-selector>
        <app-piece-selector [for]="PieceColor.WHITE" [isKingActive]="model().game().getKingCoordinate(PieceColor.WHITE) == ''" (pieceSquareMouseDownEvent)="onPieceSelectorMouseDown($event)" (deleteSquareMouseUpEvent)="onPieceSelectorDeleteMouseUp()"></app-piece-selector>
    </div>
    <div class="boardOuterContainer" [class]="model().isFlipped() ? 'boardOuterContainerFlipped' : ''">
        <div #board class="boardContainerInner" [class]="model().isFlipped() ? 'boardContainerInnerFlipped' : ''">
            <!-- ARROW OVERLAY -->
            <svg
                class="arrowOverlay"
                [attr.viewBox]="'0 0 8 8'"
                preserveAspectRatio="none">
                @for( arrow of model().arrows(); track $index )
                {
                    <ng-container>
                        <line
                            [attr.x1]="_getArrowCoords(arrow).x1"
                            [attr.y1]="_getArrowCoords(arrow).y1"
                            [attr.x2]="_getArrowCoords(arrow).x2"
                            [attr.y2]="_getArrowCoords(arrow).y2"
                            [attr.stroke]="arrow.color"
                            stroke-width="0.13"
                            marker-end="url(#arrowhead)" />
                    </ng-container>
                }
                <defs>
                    <marker
                        id="arrowhead"
                        markerWidth="3"
                        markerHeight="3"
                        refX="1.5"
                        refY="1.5"
                        orient="auto"
                        markerUnits="strokeWidth">
                        <polygon points="0 0, 3 1.5, 0 3" fill="context-stroke" />
                    </marker>
                </defs>
            </svg>

            @for( rank of model().game().getPieceState(); let rankIndex = $index; track rankIndex)
            {
                <ng-container>
                    @for ( piece of rank; let fileIndex = $index; track fileIndex; )
                    {
                        <div
                            style="position: relative; width: 100%; height: 100%;"
                            [attr.data-coordinate]="this.COORDS[rankIndex][fileIndex]"
                        >
                            <app-square 
                                [coordinate]="this.COORDS[rankIndex][fileIndex]" 
                                [piece]="model().game().getPieceState()[rankIndex][fileIndex]"
                                [isDark]="(rankIndex + fileIndex) % 2 == 1"
                                [showFile]="rankIndex == rank.length - 1"
                                [showRank]="fileIndex == 0"
                                [showPiece]="this.COORDS[rankIndex][fileIndex] != fromSquare()"
                                [isFlipped]="model().isFlipped()"
                                [isLegalMove]="false"
                                [isInCheck]="(model().game().getPieceState()[rankIndex][fileIndex] == pieceType.WHITE_KING && model().game().isInCheck(PieceColor.WHITE)) || (model().game().getPieceState()[rankIndex][fileIndex] == pieceType.BLACK_KING && model().game().isInCheck(PieceColor.BLACK)) "
                                [isClicked]="getRightClickedStatusForSquare(this.COORDS[rankIndex][fileIndex])"
                                [moveClassification]="MoveClassification.None"
                                (mouseDown)="onSquareMouseDown($event)"
                                (mouseUp)="onSquareMouseUp($event)"
                                (leftClick)="onSquareLeftClick()">
                            </app-square>
                        </div>
                    }
                </ng-container>
            }
        </div>
    
    </div>

    <div class="boardControls" [class]="themeService.getThemeInstance().getGlassPanelTheme()" 
        [style.color]="themeService.getThemeInstance().getTextColor()"
        >
        <h2 [style.color]="themeService.getThemeInstance().getPrimaryColor()">{{ 'inputPosition.board.editorTitle' | translate }}</h2>
        <div class="d-flex justify-content-between flex-wrap">
            <app-bootstrap-button (buttonClick)="handleResetClicked()" [label]="'inputPosition.board.buttons.reset' | translate"></app-bootstrap-button>
            <app-bootstrap-button (buttonClick)="handleClearClicked()" [label]="'inputPosition.board.buttons.clear' | translate"></app-bootstrap-button>
            <app-bootstrap-button (buttonClick)="submitButtonClicked()" [label]="'inputPosition.board.buttons.analyze' | translate" [disabled]="!doesValidationPass()"></app-bootstrap-button>
            <app-bootstrap-button (buttonClick)="playVsAiButtonClicked()" [label]="'inputPosition.board.buttons.playVsAi' | translate" [disabled]="!doesValidationPass()"></app-bootstrap-button>
            <app-bootstrap-button (buttonClick)="flipButtonClicked()" label="↑↓"></app-bootstrap-button>
        </div>

        <hr>

        <h4 [style.color]="themeService.getThemeInstance().getPrimaryColor()">{{ 'inputPosition.board.turn' | translate }}</h4>
        <select [ngModel]="this.model().game().getTurn()" (ngModelChange)="onTurnChanged($event)">
            <option [ngValue]="true">{{ 'inputPosition.board.whiteToMove' | translate }}</option>
            <option [ngValue]="false">{{ 'inputPosition.board.blackToMove' | translate }}</option>
        </select>
        
        <hr>

        <h4 [style.color]="themeService.getThemeInstance().getPrimaryColor()">{{ 'inputPosition.board.castlingRights' | translate }}</h4>
        <div class="d-flex justify-content-between user-select-none">
            <!--White castling rights-->
            <div>
                <p>{{ 'inputPosition.board.white' | translate }}</p>

                @if(getPotentialForCastlingRights(true, true))
                {
                    <div
                        class="form-check form-switch"
                        [style.--switch-color]="themeService.getThemeInstance().getPrimaryColor()">

                        <label>{{ 'inputPosition.board.kingside' | translate }}</label>

                        <input
                            class="form-check-input custom-switch"
                            type="checkbox"
                            [ngModel]="model().game().getCastlingRights(CastlingRightsType.WhiteKingside)"
                            (ngModelChange)="model().game().setCastlingRights(CastlingRightsType.WhiteKingside, $event)">
                    </div>
                }

                @if(getPotentialForCastlingRights(true, false))
                {
                    <div
                        class="form-check form-switch"
                        [style.--switch-color]="themeService.getThemeInstance().getPrimaryColor()">

                        <label>{{ 'inputPosition.board.queenside' | translate }}</label>

                        <input
                            class="form-check-input custom-switch"
                            type="checkbox"
                            [ngModel]="model().game().getCastlingRights(CastlingRightsType.WhiteQueenside)"
                            (ngModelChange)="model().game().setCastlingRights(CastlingRightsType.WhiteQueenside, $event)">
                    </div>
                }
            </div>

            <!--Black castling rights-->
            <div>
                <p>{{ 'inputPosition.board.black' | translate }}</p>

                @if(getPotentialForCastlingRights(false, true))
                {
                    <div
                        class="form-check form-switch"
                        [style.--switch-color]="themeService.getThemeInstance().getPrimaryColor()">

                        <label>{{ 'inputPosition.board.kingside' | translate }}</label>

                        <input
                            class="form-check-input custom-switch"
                            type="checkbox"
                            [ngModel]="model().game().getCastlingRights(CastlingRightsType.BlackKingside)"
                            (ngModelChange)="model().game().setCastlingRights(CastlingRightsType.BlackKingside, $event)">
                    </div>
                }

                @if(getPotentialForCastlingRights(false, false))
                {
                    <div
                        class="form-check form-switch"
                        [style.--switch-color]="themeService.getThemeInstance().getPrimaryColor()">

                        <label>{{ 'inputPosition.board.queenside' | translate }}</label>

                        <input
                            class="form-check-input custom-switch"
                            type="checkbox"
                            [ngModel]="model().game().getCastlingRights(CastlingRightsType.BlackQueenside)"
                            (ngModelChange)="model().game().setCastlingRights(CastlingRightsType.BlackQueenside, $event)">
                    </div>
                }
            </div>
        </div>

        <hr>

        <h4 [style.color]="themeService.getThemeInstance().getPrimaryColor()">{{ 'inputPosition.board.enPassant' | translate }}</h4>
        <div>
            @if(getPotentialEnPassantSquares(); as potentialEpSquares)
            {
                @if (potentialEpSquares.length > 0)
                {
                    <div>{{ 'inputPosition.board.select' | translate }}</div>
                    <select [(ngModel)]="this.model().game().enPassantSquare">
                        @for(square of potentialEpSquares; track $index)
                        {
                            <option [ngValue]="square">{{square}}</option>
                        }
                    </select>
                }
                @else
                {
                    {{ 'inputPosition.board.notAvailable' | translate }}
                }
            }
        </div>

        <hr>

        <!--FEN display-->
        <h4 [style.color]="themeService.getThemeInstance().getPrimaryColor()">{{ 'inputPosition.board.fen' | translate }}</h4>
        <div>
            {{this.model().game().getFEN()}}
            <app-bootstrap-button label="📋" (buttonClick)="copyFenClicked()"></app-bootstrap-button>
        </div>

        <hr>
        <!--Import/Export controls-->
        <div class="d-flex justify-content-between ioControls">
            <app-icon-button (buttonClick)="handleImportClicked()" [label]="'inputPosition.board.buttons.importFen' | translate" iconClass="bi-box-arrow-in-down-left"></app-icon-button>
            <app-icon-button (buttonClick)="copyFenLinkClicked()" [label]="'inputPosition.board.buttons.copyLink' | translate" iconClass="bi-link-45deg"></app-icon-button>
        </div>
    </div>
    @if(currentlyHeldPiece() != "")
    {
        <img class="currentlyHeldPiece"
            [src]="ChessboardHelper.getIconSourceForPiece(currentlyHeldPiece())"
            [style.left.px]="mouseX()"
            [style.top.px]="mouseY()">
    }
</div>