<div class="algebraicContainer p-4"
  [ngClass]="themeService.getThemeInstance().getGlassPanelTheme()"
  [style.color]="themeService.getThemeInstance().getTextColor()">
  <table class="w-100">
    <tbody>

      @if (boardState().divergenceStateStack().length != 0 && boardState().mainStackPointer() == 0) {
        <tr
          app-divergence-table-entry
          [moveStack]="boardState().divergenceMoveStack()"
          [evalStack]="boardState().divergenceEvalStack()">
        </tr>
      }

      @for (item of boardState().mainMoveStack(); track $index) {
        @if ($index % 2 == 0) {

          <tr>
            <td>
              <p class="d-inline move-number">{{ ($index / 2) + 1 }}.</p>
            </td>

            <td>
              @if (boardState().eval(); as eval) {
                @if (eval.positions[$index + 1]) {
                  <img
                    class="inlineMoveIcon"
                    [src]="ChessboardHelper.getIconSourceForMoveClassification(eval.positions[$index + 1].moveClassification ?? MoveClassification.None)()">
                }
              }
              <div
                class="d-inline"
                (click)="moveClicked.emit($index + 1)"
                [ngClass]="{
                  'text-primary': $index == boardState().mainStackPointer() - 1 && boardState().divergenceStateStack().length == 0,
                  'text-danger':  $index == boardState().mainStackPointer() - 1 && boardState().divergenceStateStack().length != 0
                }">
                {{ item.notation }}
              </div>
            </td>

            <td>
              @if (boardState().eval(); as eval) {
                @if (eval.positions[$index + 2]) {
                  <img
                    class="inlineMoveIcon"
                    [src]="ChessboardHelper.getIconSourceForMoveClassification(eval.positions[$index + 2].moveClassification ?? MoveClassification.None)()">
                }
              }
              <div
                class="d-inline"
                (click)="moveClicked.emit(boardState().mainMoveStack()[$index + 1] == null ? $index + 1 : $index + 2)"
                [ngClass]="{
                  'text-primary': $index == boardState().mainStackPointer() - 2 && boardState().divergenceStateStack().length == 0,
                  'text-danger':  $index == boardState().mainStackPointer() - 2 && boardState().divergenceStateStack().length != 0
                }">
                {{ boardState().mainMoveStack()[$index + 1] == null ? '-' : boardState().mainMoveStack()[$index + 1].notation }}
              </div>
            </td>
          </tr>

          @if (boardState().divergenceStateStack().length != 0 &&
              ($index == boardState().mainStackPointer() - 1 || $index == boardState().mainStackPointer() - 2)) {
            <tr
              app-divergence-table-entry
              [moveStack]="boardState().divergenceMoveStack()"
              [evalStack]="boardState().divergenceEvalStack()">
            </tr>
          }

        }
      }

    </tbody>
  </table>
</div>