<div class="d-flex flex-column justify-content-center overflow-auto glass-subpanel">
  @if (shouldShowEngineInfo()) {
    @if (engine(); as engineData) {
      <!-- Engine Info -->
      <div>
        {{ engineMetadata()?.displayName }}
        
        <span class="badge" 
              [ngClass]="{ 
                'bg-success': engineMetadata()?.type === EngineType.NNUE, 
                'bg-danger': engineMetadata()?.type === EngineType.HCE 
              }">
          {{ engineMetadata()?.type }}
        </span>

        @if (engineData.isCloudHybridMode) {
          <span class="badge bg-info ms-1 text-secondary">Cloud Hybrid</span>
        }
      </div>

      <!-- Depth & Eval Source -->
      <div>
        @if (mostRecentEval(); as evalData) {
          @if (evalData.lines[0]) {
            <div>
              Depth {{ evalData.lines[0].depth }}

              @if (evalData.source === EvalSource.Cloud) {
                <span class="badge bg-info ms-1 text-secondary">CLOUD</span>
              }
            </div>
          }
        }
      </div>
    }
  }
</div>