<!--If the board is in analysis mode.-->
@if (!boardState().isVsAi()) {
  <div class="iconButtonContainer d-flex flex-wrap w-100 justify-content-around p-1 user-select-none"
  [ngClass]="themeService.getThemeInstance().getGlassPanelTheme()">

    <!--Import button-->
    <app-icon-button
      [label]="'chessboard.boardOptions.importGame' | translate"
      extraClasses="m-1 small"
      iconClass="bi-box-arrow-in-down-left"
      (buttonClick)="importClicked.emit()">
    </app-icon-button>

    <!--Reset-->
    <app-icon-button
      [label]="'chessboard.boardOptions.reset' | translate"
      extraClasses="m-1 small"
      iconClass="bi-bootstrap-reboot"
      (buttonClick)="resetClicked.emit()">
    </app-icon-button>

    <!--If the board is not being evaluated and has at least one move, allow them to analyze it.-->
    @if (!boardState().doEvaluateGame() && boardState().mainStateStack().length > 1) {
      <app-icon-button
        [label]="'chessboard.boardOptions.analyze' | translate"
        iconClass="bi-cpu"
        extraClasses="m-1 small"
        (buttonClick)="analyzeClicked.emit()">
      </app-icon-button>
    }

    <!--If the board has at least one state, allow them to export/save to db.-->
    @if (boardState().mainStateStack().length > 1) {
      <app-icon-button
        [label]="'chessboard.boardOptions.exportGame' | translate"
        extraClasses="m-1 small"
        iconClass="bi-share"
        (buttonClick)="exportGameClicked.emit()">
      </app-icon-button>

      <app-icon-button
        [label]="'chessboard.boardOptions.saveToDatabase' | translate"
        extraClasses="m-1 small"
        iconClass="bi-database"
        (buttonClick)="saveToDbClicked.emit()">
      </app-icon-button>
    }

  </div>
}
<!--If the board is in vs ai mode.--> 
@else {
  <div class="iconButtonContainer d-flex flex-wrap w-100 justify-content-around p-1 user-select-none" 
  [ngClass]="themeService.getThemeInstance().getGlassPanelTheme()">

    <!--If vs in progress, allow them to resign.-->
    @if (boardState().isVsAiInProgress()) {
      <app-icon-button
        [label]="'chessboard.boardOptions.resign' | translate"
        iconClass="bi-flag"
        extraClasses="m1-1"
        (buttonClick)="resignVsAiClicked.emit()">
      </app-icon-button>
    } 
    <!--If not in progress: -->
    @else {

      <!--Allow the user to start a new game-->
      <app-icon-button
        [label]="'chessboard.boardOptions.newGame' | translate"
        extraClasses="m-1"
        iconClass="bi-plus"
        (buttonClick)="beginGameVsAiClicked.emit()">
      </app-icon-button>

      <!--And if there was a game played (more than 1 state in the stack), let them analyze it.-->
      @if (boardState().mainStateStack().length > 1) {
        <app-icon-button
          [label]="'chessboard.boardOptions.analyzeGame' | translate"
          extraClasses="m-1"
          iconClass="bi-cpu"
          (buttonClick)="analyzeAiGameClicked.emit()">
        </app-icon-button>
      }
    }

  </div>
}