@if (!boardState().isVsAi()) {
  <div class="iconButtonContainer d-flex flex-wrap w-100 justify-content-around p-1"
  [ngClass]="themeService.getThemeInstance().getGlassPanelTheme()">

    <app-icon-button
      label="Import Game"
      extraClasses="m-1 small"
      iconClass="bi-box-arrow-in-down-left"
      (buttonClick)="importClicked.emit()">
    </app-icon-button>

    <app-icon-button
      label="Reset"
      extraClasses="m-1 small"
      iconClass="bi-bootstrap-reboot"
      (buttonClick)="resetClicked.emit()">
    </app-icon-button>

    @if (!boardState().doEvaluateGame() && boardState().mainStateStack().length > 1) {
      <app-icon-button
        label="Analyze"
        iconClass="bi-cpu"
        extraClasses="m-1 small"
        (buttonClick)="analyzeClicked.emit()">
      </app-icon-button>
    }

    @if (boardState().mainStateStack().length > 1) {
      <app-icon-button
        label="Export Game"
        extraClasses="m-1 small"
        iconClass="bi-share"
        (buttonClick)="exportGameClicked.emit()">
      </app-icon-button>
    }

  </div>
} @else {
  <div class="iconButtonContainer d-flex flex-wrap w-100 justify-content-around p-1" 
  [ngClass]="themeService.getThemeInstance().getGlassPanelTheme()">

    @if (!mostCurrentMainState.gameState.isGameOver && boardState().engine()) {
      <app-icon-button
        label="Resign"
        iconClass="bi-flag"
        extraClasses="m1-1"
        (buttonClick)="resignVsAiClicked.emit()">
      </app-icon-button>
    } @else {
      <app-icon-button
        label="New game"
        extraClasses="m-1"
        iconClass="bi-plus"
        (buttonClick)="beginGameVsAiClicked.emit()">
      </app-icon-button>

      @if (boardState().mainStateStack().length > 1) {
        <app-icon-button
          label="Analyze Game"
          extraClasses="m-1"
          iconClass="bi-cpu"
          (buttonClick)="analyzeAiGameClicked.emit()">
        </app-icon-button>
      }
    }

  </div>
}
