.moveOverview
{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 35vmin;
}

.engineLineDisplayIcon
{
  height: 4vmin;
}

.moveClassificationListIcon
{
  width: 5vmin;
}


.playerNameInTable
{
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 10vmin;
}

@media screen and (max-width: 1200px)
{
  .moveOverview
  {
    height: 70vmin;
  }

  .engineLineDisplayIcon
  {
    height: 7vmin;
  }


  .moveClassificationListIcon
  {
    width: 10vmin;
  }

}