@if (boardState().eval(); as eval) {
<div class="evalSectionRight glass-subpanel p-2">

    <!-- Elo and Accuracy Header -->
    <div class="d-flex">
        <div class="badge text-bg-light border d-inline-block">
            <h4>{{eval.estimatedElo?.white?.toFixed(0)}} / {{eval.accuracy.white.toFixed(1)}}%</h4>
        </div>
        
        <div class="m-2"></div>

        <div class="badge text-bg-dark d-inline-block">
            <h4>{{eval.estimatedElo?.black?.toFixed(0)}} / {{eval.accuracy.black.toFixed(1)}}%</h4>
        </div>
    </div>

    <!-- Engine Move Info -->
    <div class="evalTextData engineMoveInfoText d-flex flex-column justify-content-center">
        @if (boardState().getMostRecentEval(); as mostRecentEval) {
            @if(boardState().getMostRecentMove().notation; as notation) {
                <div>
                    <img class="engineLineDisplayIcon" 
                         [src]="ChessboardHelper.getIconSourceForMoveClassification(mostRecentEval.moveClassification ?? MoveClassification.None)()" />
                    {{notation}}

                    @if (!(
                        mostRecentEval.moveClassification == MoveClassification.Opening ||
                        mostRecentEval.moveClassification == MoveClassification.Best ||
                        mostRecentEval.moveClassification == MoveClassification.Forced || 
                        mostRecentEval.moveClassification == MoveClassification.Perfect ||
                        mostRecentEval.moveClassification == MoveClassification.Splendid) 
                        && boardState().getPreviousMostRecentEval(); as previousEval) {   
                        -
                        <img class="engineLineDisplayIcon" [src]="ChessboardHelper.getIconSourceForMoveClassification(MoveClassification.Best)()">
                        {{previousEval.bestMove}}                                    
                    }
                </div>
            } @else {
                <div>Starting Position</div>
            }
        }
    </div>

    <!-- Move Classification Table -->
    <table class="moveClassificationsList">
        <thead>
            <tr>
                <th>
                    <div class="badge text-bg-light border d-inline-block playerNameInTable">
                        {{boardState().pgnHeaders().white}}
                    </div>
                </th>
                <th></th>
                <th></th>
                <th>
                    <div class="badge text-bg-dark border d-inline-block playerNameInTable">
                        {{boardState().pgnHeaders().black}}
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @for(item of Object.values(MoveClassification); track item) {
                @if (item !== MoveClassification.None) {
                    <tr class="align-middle" [ngStyle]="{'color' : Chessboard.moveClassificationColors.get(item)}">
                        <td class="pe-4 text-end" (click)="onClassificationClick(PieceColor.WHITE, item)">
                            {{boardState().whiteMoveClassificationList().getFromString(item).length}}
                        </td>
                        <td>
                            <img class="moveClassificationListIcon" [src]="'icons/' + item + '.png'">
                        </td>
                        <td class="text-start">
                            &nbsp;&nbsp;{{item}}
                        </td>
                        <td class="ps-4 text-start" (click)="onClassificationClick(PieceColor.BLACK, item)">
                            {{boardState().blackMoveClassificationList().getFromString(item).length}}
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
}