.pgnTextArea
{
    width: 50%;
    height: 60vmin;
    border-radius: 5px;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
}

@media screen and (max-width: 1200px)
{
    .pgnTextArea
    {
        width: 100%;
    }
}