.gameInfo
{
    width: 30vmin;
}

@media screen and (max-width: 1200px)
{
    .gameInfo
    {
        width: 400px;
        height: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}