.tableData {
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
}

@media screen and (max-width: 1200px) 
{
    .tableOuter
    {
        overflow: auto;
    }

    .tableInner
    {
        min-width: 1200px;
    }
}